<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Vesti"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Closetapp"
        tools:targetApi="31">
        <activity
            android:name=".activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.ClosetActivity" />
        <activity android:name=".activity.MatchActivity" />
        <activity android:name=".activity.MatchRegisterActivity" />
        <activity android:name=".activity.DailyFitActivity" />
        <activity android:name=".activity.CalendarActivity" />
        <activity android:name=".activity.CommunityActivity" />
        <activity android:name=".activity.ClothRegisterActivity"/>
        <activity android:name=".activity.ClothDetailActivity"/>
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.SignupActivity" />
        <activity android:name=".activity.MyPageActivity"/>
        <activity android:name=".activity.OutfitRegisterActivity"/>
        <activity android:name=".activity.ClothSelectActivity"/>
        <activity android:name=".activity.FavoriteClothesActivity" />
        <activity android:name=".activity.FavoriteMatchesActivity" />
        <activity android:name=".activity.FavoriteDailyFitsActivity" />
        <activity android:name=".activity.FavoritePostsActivity" />

    </application>

</manifest>